body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: "parkinsans";
    font-weight: 500;
}

h2 {
    font-family: "parkinsans";
}

.title-subtitle-div {
    width: 70%;
    margin: 0.6em 0.8em;
    display: inline-block;
}

#page-title {
    font-size: 4em;
    color: whitesmoke;
    margin: 0.6em auto 0 auto;
}

#page-subtitle {
    color: whitesmoke;
    font-weight: 100;
    font-size: 1.2em;
    margin: 0;
}

#clock {
    font-family: "Lora";
    color: whitesmoke;
    font-size: 3.5em;
    float: inline-end;
    margin: 1em 1em;
}

.weather {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    /* border: 1px solid rgba(255, 255, 255, 0.2); Lichte rand */
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.25);
    padding: 0px;
}

.weather-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.weather-grid-item {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.25);
    margin: 1em;
}

.weather-subheaders {
    color: whitesmoke;
    font-family: "Ubuntu";
    font-weight: 500;
    margin: 0.5em;
}

.weather-text-elements {
    color: whitesmoke;
    font-family: "Ubuntu";
    margin: 1em;
}
